# ไฟล์: requirements.txt
# =============================
# รายชื่อไลบรารีที่จำเป็นสำหรับติดตั้ง

setuptools>=65.5.0
streamlit>=1.18.0
requests
pandas
openai>=1.3.5
langchain>=0.1.14
langchain-community>=0.0.26
tiktoken
chromadb>=0.4.24
python-dotenv
protobuf==3.20.3
openpyxl
google-cloud-speech
google-auth
XlsxWriter
#